body{
    background-image: linear-gradient(to bottom, #000bff, #6e009f, #600055, #390023, #000000);
}
#agregador{
    margin-top: 10%;
}

.card{
    margin: 1%;
    float: left;
}

#titulo{
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

#titulo-interno{
    text-align: center;
    font-family: Brush;
    color: white;
    padding: 1%;
}

table {
    text-align: center;
}

#Bhorario{
    display: flex;
    justify-content: center;
    margin-top: 20%;
    margin-left: 40%;
}